

.alldoctors_page {
    &__title {
        text-align: center;
    }

    &__doctors {
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
        gap: 2em;
        margin: 2em 0;
        align-items: center;
    }
}