.models_page {
    width: 90%;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    .submit_button {
        margin: 2em auto;
        display: block;
        width: 8em;
        height: 3em;

        font-size: 1.3em;
    }
}

.models_page__model {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4em;

    & > * {
        flex: 1;
        min-width: 500px;
    }
    
    &__about {
        img {
            width: 80%;
            aspect-ratio: 2/1;
            object-fit: cover;
            
            margin: 0 auto;
            display: block;
        }
    }

    &__form {
        display: grid;
        place-items: center;
    }
}