
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;

    &__logo {
        height: 2em;
        display: flex;
        align-items: center;
        gap: 0.1em;
        cursor: pointer;

        &__img {
            height: 100%;
            aspect-ratio: 1/1;
        }

        &__text {
            margin: 0;
            font-weight: 600;
            font-size: 1.5em;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}