
.patient_page {
    display: flex;
    gap: 4em;
    margin-top: 1rem;
    
    main {
        flex: 1;
    }

    &__info {
        margin: 1em 0;
        display: flex;
        gap: 1em;

        &__description {
            padding: 0 4em 0 0;
            flex: 1;
            align-self: center;
            font-size: 1rem;
            
            display: flex;
            justify-content: space-between;
            align-items: center;            

            * {margin: 0;}

            h1 {
                font-size: 3em;
                color: var(--color1);
            }

            p {
                color: black;
                span {
                    color: rgb(133, 133, 133);
                    font-size: 0.9em;
                }
            }

            .superviser__info {
                font-size: 1em;
            }
            .superviser__info > span {
                color: var(--color1);
                font-size: 1.2em;
            }
        }
    }
}