
.sidemenu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-items: center;
    align-items: center;

    min-width: 300px;
    min-height: 100%;
    padding: 0.5rem 0;

    border-right: 1px solid rgba(0, 0, 0, 0.30);

    &__item {
        width: 100%;
        font-weight: 400;

        & > * {
            display: block;
            width: 18rem;
            text-decoration: none;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            padding-right: auto;
            padding-left: 2em;
            color: var(--color1);
            transition: background-color 0.3s ease;
            border-radius: 15px;
        }
        & > *:hover {
            background-color: rgba(180, 180, 180, 0.329);
        }
    }

    &__item--focused {
        & > * {
            background-color: var(--color1);
            color: var(--white);
        }
        & > *:hover {
            background-color: var(--color1);
        }
    }
}