@use './styles/patient_page.scss';
@use './styles/models_page.scss';
@use './styles/navbar_component.scss';
@use './styles/sidemenu.scss';
@use './styles/doctor_page.scss';
@use './styles/allpatients_page.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    // Colors
    --black: #000000;
    --white: #ffffff;
    --color1: #004aad;
    --color2: #040606;
    --color3: #0c0d17;
    --color4: #231815;
    --color5: #24145c;
    --color6: #545454; 
    --color7: #5e17eb; 
    --color8: #bb2e2e;
    --color9: #ff5757;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: large;
    
    font-weight: 400;
    overflow-x: hidden;
}
