@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.main-container {
    position: absolute;
    display: grid;
    place-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;


    &__text {
        display: flex;
        flex-direction: column;

        h1 {
            display: flex;

            img {
                width: 0.8em;
                display: inline-block;
            }

            text-transform: uppercase;
            color: #25125b44;
            font-size: 15rem;
            letter-spacing: -16px;
            grid-column: 0 / 3;
            margin: 0 0 -50px 0;
        }

        .slogan {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;

            &>* {
                font-size: 2em;
                text-transform: lowercase;
                font-weight: bold;
                color: #25125b44;
            }
        }

    }


}

.heart-3d {
    width: fit-content;
}

nav {
    position: fixed;
    width: 100vw;
    display: block;
    padding: 1em;

    ul {
        padding: 0;
        width: 100%;
        list-style: none;
        margin: 0;
        display: flex;
        gap: 2em;
        justify-content: space-around;
        color: rgb(131, 131, 131);
        font-size: 1.2em;
        text-transform: lowercase;
    }
}